body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f9fa;
  }
  
  .app-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 10px;
  }
  
  nav a {
    text-decoration: none;
    font-size: 20px;
    color: #007bff;
  }
  
  nav a:hover {
    color: #0056b3;
  }
  
  .content-box {
    padding: 20px;
  }
  
  input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
    padding: 10px;
  }
  
  th {
    background-color: #81f1a3;
  }
  